{% extends 'User/use_head.html' %}

{% load static %}
{% block content %}
    

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 ftco-animate">
						<h3 class="mb-4 billing-heading">Payment Success</h3>
	          
							<h3 class="mb-4 billing-heading">Your Order is Placed</h3>
	          
							<a href="#" class="mb-4 billing-heading">Track Order</a>
	          
	          
				
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->

	{% endblock content %}