{% extends 'Profile/user_layout.html' %}
{% block content1 %}

<style>
	.table tbody tr td {
		text-align: left !important;
		padding: 10px 60px;
	}
	.table tbody tr td.product-name {
		width: auto;
	}
</style>
<div class="col-md-8 col-lg-10 order-md-last">
	<div>
		{% for message in messages %}
            <div class="alert alert-success" >               
              {{message}}              
             </div>
            {% endfor %} 
	</div>
	<table class="table" id="tablecart" style="min-width: 100% !important;">
		<tbody>
			<tr>
				<td colspan="2" class="product-name">
					<h2 class="heading mb-4">
						Change Password
					</h2>
				</td>
			</tr>			 
			<form action="" method="post">
				{% csrf_token %}
				<tr>
					<td class="product-name">
						Old Password
					</td>
					<td class="product-name">
						<input type="Password" class="form-control" name="old_password"
							placeholder="Enter Old Password">

					</td>
				</tr>
				<tr>
					<td class="product-name">
						New Password
					</td>
					<td class="product-name">
						<input type="Password" name="new_password" class="form-control" placeholder="Your New Password">
					</td>
				</tr>

				<tr>
					<td class="product-name">
						Confirm New Password
					</td>
					<td class="product-name">
						<input type="Password" name="confirm_new_password" class="form-control"
							placeholder="Your Confirm New Password">
					</td>
				</tr>
				<tr>

					<td colspan="2">

						<input type="submit" class="btn btn-info" name="sub" value="SAVE">
						<input type="cancel" class="btn btn-cancel" name="sub" value="CANCEL">

					</td>

				</tr>
			</form>
			
		</tbody>
	</table>
</div>
<!-- Button trigger modal -->
{% endblock content1 %}