{% extends 'Profile/user_layout.html' %}
			
			{% block content1 %}		
			  <div class="col-md-8 col-lg-10 order-md-last">
				<table class="table" id="tablecart" style="min-width: 100% !important;">
						<thead class="thead-primary">
						  <tr class="text-center">							
							
							  <th>Bill No</th>
							  <th>Ordered Date</th>
							  <th>Payment Method</th>
							 
							  <th>Total Amount</th>  
							  <th>Status</th>
							  <th>
								Action
							  </th>
						  </tr>
						</thead>
						<tbody>
							{% for x in orders %}
							
						  <tr class="text-center-1">							
							
							<td class="product-name">
								{{x.order_number}}
							</td>
							<td class="product-name">
								<h3>{{x.created_at}}</h3>
								
							</td>
							<td class="product-name">
								<h3>{{x.payment.payment_method}}</h3>
								
								<td class="product-name">
									<h3>{{x.order_total}}</h3>
									
								</td>
								<td class="product-name">
									<h3>{{x.status}}</h3>									
								</td>
								<td class="product-name">
									
									
									{% if x.status == 'Order Placed' %}
									<h3> 	<button class="btn btn-secondary" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'  _="on click call Swal.fire({title: 'Confirm', text:'Do you want to Cancel?'})if result.isConfirmed trigger confirmed"
										hx-get="../mycancel/{{ x.id }}"  hx-trigger="click"  hx-target="#y" hx-swap="outerHTML"> Cancel Order </button>
																			</h3>
																			<h3> <a href="{% url 'track_order' x.id %}">Track Order </a></h3>
									
									{% elif  x.status == 'Shipped' %}
									<h3> 	<button class="btn btn-secondary" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'  _="on click call Swal.fire({title: 'Confirm', text:'Do you want to Cancel?'})if result.isConfirmed trigger confirmed"
										hx-get="../mycancel/{{ x.id }}"  hx-trigger="click"  hx-target="#y" hx-swap="outerHTML"> Cancel Order </button>
										
									</h3>
									<h3> <a href="{% url 'track_order' x.id %}">Track Order </a></h3>
									
									{% elif  x.status == 'Out for Delivery' %}
									<h3> 	<button class="btn btn-secondary" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'  _="on click call Swal.fire({title: 'Confirm', text:'Do you want to Cancel?'})if result.isConfirmed trigger confirmed"
										hx-get="../mycancel/{{ x.id }}"  hx-trigger="click"  hx-target="#y" hx-swap="outerHTML"> Cancel Order </button>
										
									</h3>
									<h3> <a href="{% url 'track_order' x.id %}">Track Order </a></h3>
									{% elif  x.status == 'Cancelled' %}
									
									
									{% else %}
									
									<h3>  <a href="{% url 'invoice' x.id %}" class="btn btn-primary" >Download Invoice </a></h3>
										
									{% endif %}
										
									
									<h3> <a href="{% url 'myorder_details' x.id %}">Order Details </a></h3>		
									<!--<h3> <a href="">Review </a></h3>-->
								</td>							
						  </tr>
						   
						  
						  <!-- END TR-->
						  {% endfor %}
						
						</tbody>
					  </table>
				  </div>					 
				 
				  {% endblock content1 %}